:root{
  --font-kanit: "Kanit", sans-serif;
  --font-basker: "Baskervville", serif;
  --font-lavvic: "Livvic", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #3d4928;
  --color-secondary: #3d4928;

  --container: 1140px;
}

body{
  margin: 0;
  font-family: var(--font-poppins);
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

a{
  text-decoration: none !important;
  transition: all .3s ease-in;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  max-width: var(--container);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-banner{
  background-image: url(../images/banner.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  height: 100vh;
  @media (min-width: 1025px){
    background-attachment: fixed;
  }
  @media (max-width: 1024px){
    background-image: url(../images/banner.jpg);
  }
  @media (max-width: 767px){
    background-image: url(../images/banner.jpg);
    height: 640px;
  }
  .container{
    height: 100%;
  }
  .flex-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media (max-width: 767px){
      justify-content: flex-start;
    }
  }
  .banner-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 160px;
    @media (max-width: 767px){
      padding-top: 75px;
      margin-bottom: 20px;
    }
    h1{
      font-size: 56px;
      letter-spacing: 7.8px;
      margin-bottom: 10px;
      text-shadow: 3px 0px 3px rgb(0 0 0 / 80%);
      @media (max-width: 1024px){
        font-size: 46px;
      }
      @media (max-width: 767px){
        font-size: 40px;
        line-height: 1em;
        margin-bottom: 10px;
      }
    }
    h3{
      font-size: 20px;
      letter-spacing: 5.7px;
      text-shadow: 3px 0px 3px rgb(0 0 0 / 80%);
      font-weight: 600;
      @media (max-width: 1024px){
        font-size: 16px;
      }
    }
  }
  .countdown{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: table;
      table-layout: fixed;
      width: 100%;
      color: #fff;
      li{
        display: table-cell;
        list-style: none;
        margin: 0;
        padding: 0;
        .item-countdown{
          text-align: center;
          margin-right: 15px;
          margin-left: 15px;
          padding: 20px;
          text-shadow: 3px 0px 3px rgb(0 0 0 / 80%);
          .number-countdown{
            font-size: 50px;
            display: block;
            font-weight: 700;
            @media (max-width: 767px){
              font-size: 38px;
            }
          }
          .label-countdown{
            font-size: 18px;
            display: block;
            text-shadow: 3px 0px 3px rgb(0 0 0 / 80%);
            font-weight: 600;
            @media (max-width: 767px){
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.section-date{
  padding: 100px 0;
  @media (max-width: 1024px) {
    padding: 60px 0;
  }
  @media (max-width: 767px){
    padding: 50px 0;
  }
  h2{
    max-width: 650px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-primary);
    padding: 10px;
    text-align: center;
    margin: 0 auto 10px;
  }
  .date{
    padding: 5px 0;
    p{
      width: 300px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      position: relative;
      &::before{
        display: block;
        content: "";
        border-block-end: 0;
        flex-grow: 1;
        border-block-start: 1.1px solid var(--color-primary);
      }
      &::after{
        display: block;
        content: "";
        border-block-end: 0;
        flex-grow: 1;
        border-block-start: 1.1px solid var(--color-primary);
      }
      span{
        font-size: 18px;
        font-style: italic;
        word-spacing: 4px;
        color: var(--color-primary);
        margin: 0 10px;
      }
    }
  }
}

.section-schedule{
  .grid-schedule{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 150px;
    @media (max-width: 767px){
      grid-template-columns: 100%;
    }
    .img-schedule{
      img{
        vertical-align: middle;
        height: 100%;
        width: 100%;
        max-height: 550px;
      }
    }
  }
}

.section-gallery{
  padding: 100px 0;
  background-color: var(--color-secondary);
  .slider-gallery{
    .slick-list{
      margin: 0 -15px;
      .img-gallery{
        margin: 0 15px;
        @media (max-width: 767px){
          display: flex;
          justify-content: center;
          margin: 0;
        }
        img{
          @media (max-width: 767px){
            height: 470px;
            object-fit: cover;
          }
        }
      }
    }
  }
  h4{
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 5.3px;
    text-align: center;
    margin-top: 50px;
  }
}

.section-banner-gallery{
  margin-bottom: 80px;
  .slider-banner-gallery{
    .img-gallery{
      position: relative;
      width: 100%;
      padding-top: 5%;
      img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.section-when{
  text-align: center;
  margin-bottom: 80px;
  .typewriter {
    display: inline-block;
    font-size: 43px;
    color: var(--color-primary);
    overflow: hidden;
    border-right: 3px solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 2px;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
    height: 51.59px;
    margin-bottom: 40px;
    @media (max-width: 767px){
      font-size: 18px;
      height: 25px
    }
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: black; }
  }
  .grid-when{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: 767px){
      grid-template-columns: 100%;
      gap: 40px;
    }
    .item-when{
      color: var(--color-primary);
      img{
        height: 46px;
        margin-bottom: 10px;
      }
      h3{
        font-size: 1.7rem;
        margin-bottom: 16px;
      }
      p{
        font-size: 19px;
        margin-bottom: 40px;
      }
      .btn-when{
        font-size: 15px;
        border: 1px solid #96623b;
        color: var(--color-primary);
        height: 37px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        max-width: 145px;
        width: 100%;
        &:hover{
          background-color: var(--color-primary);
          color: #fff;
        }
      }
      .theme{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        span{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          &.green{ background-color: #ff8e65; }
          &.yellow{ background-color: #ff8585; }
          &.black{ background-color: #f2d3ba; }
          /* &.burlywood{ background-color: burlywood; }
          &.gray{ background-color: gray; } */
        }
      }
    }
  }
}

.section-map{
  iframe{
    width: 100%;
    height: 350px;
  }
}

.section-wish{
  padding: 120px 0;
  text-align: center;
  h2{
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-primary);
    margin-bottom: 5px;
  }
  p{
    color: var(--color-primary);
  }
}

@media (min-width: 1025px){
  .section-banner{
    background-attachment: fixed;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {
  :root{
    --container: 767px;
  }
}
